.title{
  font-family:cursive;  
    font-size: 35px;
    margin-top: 0.3%;
    margin-left: 10%;
    z-index: 2;
    float: left;
}
.menu_two{
    font-family:cursive;
    font-size: 10px;
    color: black;
    margin-top: -0.3%;
    margin-right: 10%;
     z-index: 1;
    float: right;
}
.menu_one{
    font-family:cursive;
    font-size: 13px;
     z-index: 1;
    position: absolute;
    left: 26vw;
    top: 1vw;
}
#uno, #dos, #tres, #cuadro{
    color: black;
    text-decoration: none;
    font-size: 19px;
     z-index: 1;
    padding-right: 30%;
}
.menu_uno{
    border: 10px solid transparent;
    width: 300px;
    height: 150px;
    margin-left: 50px;
    float: left;
}

#uno:hover{
    text-decoration: underline;
}
#dos:hover{
    text-decoration: underline;
}
#tres:hover{
    text-decoration: underline;
}
#cuadro:hover{
    text-decoration: underline;
}

#five{
    background-color: #e0e0e0;
    padding-top: 0.85vw;
    padding-bottom: 0.85vw;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}

#one:hover{
    text-decoration: underline;
}
#two:hover{
    text-decoration: underline;
}
#three:hover{
    text-decoration: underline;
}
#four:hover{
    text-decoration: underline;
}
#five:hover{
    opacity: 0.75;
    transition-duration: 0.3s;
}






.subtitle{
    font-family: fantasy;
    position: fixed;
    word-spacing: 0.5vw;
    top: 21vw;
    right: 5.5vw;
    font-size: 30px;
    width: 50vw;
}

#maincontent_text{
    /*color: white;*/
    position: fixed;
    top: 40vw;
    right: 5vw;
    height: 10vw;
    width: 41vw;
    font-size: 13px;
    font-family: fantasy;
    line-height: 170%;
}
#subcontent_text{
    position: fixed;
    top: 39vw;
    left: 4vw;
    font-family: fantasy;
    line-height: 150%;
    font-size: 26px;
    width: 50vw;
}
#big_beautiful_pretty_begin_button{
    position: fixed;
    bottom: 5vw;
    left: 4vw;
    font-size: 14px;
    font-family: cursive;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    background-color: #e0e0e0;
    color: black;
    float: left;
    clear: both;
}
#big_beautiful_pretty_begin_button:hover{
    background-color: #cccccc;
    transition-duration: 0.3s;
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
.background_image_opacity{
    position: fixed;
     top: -1vw;
    left: 0vw;
    width: 100vw;
    height: 39vw;
    background-color: black;
    opacity: 0.3;
}
.background_image{
   position: fixed;
    top: 2vw;
    left: 1vw;
    padding-top: 3vw;
    padding-left: 3vw;
    background-image: url("WechatIMG3_meitu_2.jpg");
    background-size: 85%;
    width: 51vw;
    height: 33vw;
    z-index: -1; 
}
