.title{
  font-family:cursive;  
    font-size: 2.4vw;
    position: fixed;
    left: 10vw;
    top:1vw;
    z-index: 2;
}
.menu_two{
    font-family:cursive;
    font-size: 0.65vw;
    color: black;
    position: fixed;
    top: 0vw;
    right: 13vw;
     z-index: 1;
}
.menu_one{
    position: fixed;
    left: 3vw;
    top:1vw;
    font-family:cursive;
    font-size: 1.3vw;
     z-index: 1;
}
#uno, #dos, #tres, #cuadro{
    color: black;
    text-decoration: none;
    padding-right: 2vw;
    font-size: 1.3vw;
     z-index: 1;
}
#uno{
    padding-left: 24vw;
}
#uno:hover{
    text-decoration: underline;
}
#dos:hover{
    text-decoration: underline;
}
#tres:hover{
    text-decoration: underline;
}
#cuadro:hover{
    text-decoration: underline;
}

#five{
    background-color: #e0e0e0;
    padding-top: 0.85vw;
    padding-bottom: 0.85vw;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}

#one:hover{
    text-decoration: underline;
}
#two:hover{
    text-decoration: underline;
}
#three:hover{
    text-decoration: underline;
}
#four:hover{
    text-decoration: underline;
}
#five:hover{
    opacity: 0.75;
    transition-duration: 0.3s;
}








.one_text{
    width: 80.5vw;
    height: 36vw;
    background-color: #f2f2f2;
    position: absolute;
    left: 10vw;
    top: 10vw;
}
#one_type{
    position: absolute;
   left: 58vw;
    top: 4vw;
    font-size: 1.3vw;
    font-family: cursive;
}
#one_title{
    position: absolute;
    left: 58vw;
    top: 8vw;
    font-size: 2.6vw;
    font-family: cursive;
}
#one_author{
    position: absolute;
    left: 58vw;
    top: 14vw;
    font-size: 1.1vw;
    font-family: fantasy;
}
#one_quote{
    position: absolute;
    left: 58vw;
    right: 3.5vw;
    top: 18vw;
    font-size: 1.3vw;
    font-family: fantasy;
}
.one_picture{
    width: 53.5vw;
    height: 36vw;
    background-image: url("gaitubao_Screen%20Shot%202020-11-04%20at%202.16.05%20AM_png.png");
    position: absolute;
    top: 10vw;
    left: 10vw;
}




.two_text{
    width: 25.5vw;
    height: 28.6vw;
    position:absolute;
    top: 50vw;
    left: 10vw;
    background-image: url("gaitubao_Screen%20Shot%202020-11-04%20at%206.29.02%20PM_png.png");
    background-position: right;
    background-size: cover;
}
.two_title{
    position: absolute;
    top: 30vw;
    font-size: 1.9vw;
    font-family: cursive;
}
.two_quote{
    position: absolute;
    top: 33.6vw;
    font-size: 1.2vw;
    font-family: fantasy;
}
.two_date{
    position: absolute;
    top: 40.7vw;
    font-family: monospace;
    font-size: 1vw;
}
.menu_background{
    position: fixed;
    top: -1vw;
    left: -1vw;
    width: 101vw;
    height: 5.85vw;
    background-color: white;
    z-index: 1;
}
a{
   color: black;
   text-decoration: none;
}
a:hover{
    text-decoration: underline;
}